Redirect 301 /hogar https://fast-net.com.mx/HTML/hogar.html
Redirect 301 /quiero-contratar-fastnet https://fast-net.com.mx/HTML/requisitos.html
Redirect 301 /cobertura https://fast-net.com.mx/HTML/coberturas.html
Redirect 301 /empresarial https://fast-net.com.mx/HTML/empresarial.html
Redirect 301 /sobre-nosotros https://fast-net.com.mx

