.container_contratacion{
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    position: absolute;
    top:15%;
    left: 30px;
    text-align: center;
  }
  #contrata_ahora{
    font-size: 200%;
    font-weight: bold;
    color: white;
    font-family: "Bebas Neue", sans-serif;
  }
  
  #numero_contratacion{
    font-weight: bold;
   
    color: white;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size:400%;
  }
  
  #mi-animacion3{
    position: absolute;
    width: 5%;
    height:auto;
    transform:scaleX(-1);
    left:7%;
    top: 225px;
  }
  
  
  /*CARRUSEL*/
  .carousel {
    position: static;
    margin-top:8%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  }
  
  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
  }
  
  .carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
  }
  
  .carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  .carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
  }
  
  .carousel-control.prev {
    left: 2%;
  }
  
  .carousel-control.next {
    right: 2%;
  }
  
  .carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
  }
  
  #carousel-1:checked ~ .control-1,
  #carousel-2:checked ~ .control-2,
  #carousel-3:checked ~ .control-3 {
    display: block;
  }
  
  .carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  
  .carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
  }

.mobile-carousel{
  display: none;
}

  
  /*INTERNET-TELEFONIA*/
  .seccion1{
    width: 100%;
    height: 900px;
    position: relative;
    top:-610px;
  }
  
  .container_letras {
    width: 100%;
    position: relative;
    justify-content: center; 
    align-items: center; 
    height:auto; 
    text-align: center; 
  }
  
  #subtitulo {
    padding-top: 3%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    margin: 0; 
  }
  
  #letras {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 135%;
    margin-top: 10px;
    padding: 10px;
    max-width: 100%; 
  }
  
  .container_internet{
    position: relative;
    left: 5%;
    width: 40%;
    top: 650px;
    flex-direction: column; 
    height: auto; 
    text-align: center; 
  
  }
  
  #subtitulo_internet{
    padding-top: 4%;
    color: white;
    font-size: 300%;
    font-family: "Bebas Neue", sans-serif;
    margin: 0; 
    justify-content: center;
    position: relative;
  }
  
  #letras_internet {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 140%;
    text-align: center;
    width: 100%; 
    padding-top: 5%;
  }
  
  .container_telefonia{
    position: relative;
    top:410px;
    left: 55%;
    width: 40%;
    flex-direction: column; 
    height: auto; 
    text-align: center; ;
    align-items: center;
    
  }
  
  #subtitulo_telefonia{
    padding-top: 5%;
    color: white;
    font-size: 300%;
    font-family: "Bebas Neue", sans-serif;
    margin: 0; 
    justify-content: center;
    position: relative;
  }
  
  #letras_telefonia {
    padding-top: 5%;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 130%;
    text-align:center;
    width: 100%; 
  }
  
  #mi-animacion{
    width: 40%;
    position: relative;
    left: 5%;
    top: 45%;
  }
  
  #mi-animacion2{
    width: 40%;
    position: relative;
    left:56%;
    bottom: 10%;
  }

  .internet-mobile-carousel{
    display: none;
  }

  .container-letras-movil{
    display: none;
  }

  .contenedor-asistencia-movil{
    display: none;
  }


  @media (max-width: 600px) { 
  
    .container_contratacion {
      padding: 0;
      margin: 0;
      position: relative; /* Cambié a relative para evitar el desbordamiento */
      width: 100%; /* Ocupa todo el ancho disponible */
      height: auto; /* Altura automática */
      top: 90px; /* Elimina el desplazamiento hacia abajo */
      left: 0; /* Elimina el desplazamiento hacia la izquierda */
      text-align: center;
    }
    
    /* Ajustes para el texto */
    #contrata_ahora {
      text-align: center;
      font-size: 150%;
    }
    
    #numero_contratacion {
      text-align: center;
      font-size: 200%;
      z-index: 99999;
      position: relative; /* Asegura que el z-index se aplique correctamente */
      display: inline-block; /* Asegura que el enlace sea un bloque de contenido clickeable */
      -webkit-tap-highlight-color: transparent;
      
  }


  .texto_typing {
    position: relative;
    font-size: 14px;  /* Reducir el tamaño de la fuente para pantallas pequeñas */
    width: 100%;  /* Ajustar el ancho al 80% de la pantalla */
    left: 30px;  /* Centramos el texto horizontalmente */
    top: 85--px;  /* Ajustar la distancia desde la parte superior */
    letter-spacing: 3px;  /* Reducir el espaciado de las letras */
    animation: typing 10s steps(30) 1s forwards, mouse 0.65s step-end infinite, resetTyping 8s infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  
  
  @keyframes resetTyping {
    0%{
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

    .carousel {
      display: none;
    }
  
    /* Carrusel Movil */
.mobile-carousel {
  display: block;
  margin-top: 10%;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  position: relative;
}

.mobile-carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.mobile-carousel-open:checked + .mobile-carousel-item {
  position: static;
  opacity: 1;
}

.mobile-carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.mobile-carousel-item img {
  display: block;
  width: 100%;
  height: auto;
}

/* Controles visibles */
.mobile-carousel-control {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  width: 50px;  /* Tamaño uniforme */
  height: 50px; /* Tamaño uniforme */
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  border: 0;
  border-radius: 50%; /* Asegura que los botones sean redondos */
}

.mobile-carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
}

.mobile-carousel-control.prev {
  left: 10px;
}

.mobile-carousel-control.next {
  right: 10px;
}

/* Asegurar compatibilidad con Safari */
@supports (-webkit-touch-callout: none) {
  .mobile-carousel-control {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

/* Indicadores */
.mobile-carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.mobile-carousel-indicators li {
  display: inline-block;
}

.mobile-carousel-bullet {
  color: #ffffff;
  cursor: pointer;
  font-size: 50px;
  text-align: center;
  cursor: inherit;
}
    
    

    .internet-mobile-carousel {
      display: block;
      position: static;
      margin-top: 10%;
      margin-bottom: 15%;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    }
    
    .internet-mobile-carousel-inner {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: auto;
    }
    
    .internet-mobile-carousel-open:checked + .internet-mobile-carousel-item {
      position: static;
      opacity: 1;
    }
    
    .internet-mobile-carousel-item {
      position: absolute;
      opacity: 0;
      transition: opacity 0.6s ease-out;
    }
    
    .internet-mobile-carousel-item img {
      display: block;
      width: 100%;
      height: auto;
    }
    
    .internet-mobile-carousel-control {
      background: rgba(0, 0, 0, 0.28);
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      display: none;
      font-size: 40px;
      height: 40px;
      line-height: 35px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      text-align: center;
      width: 40px;
      z-index: 10;
    }
    
    .internet-mobile-carousel-control.prev {
      left: 2%;
    }
    
    .internet-mobile-carousel-control.next {
      right: 2%;
    }
    
    .internet-mobile-carousel-control:hover {
      background: rgba(0, 0, 0, 0.8);
      color: #aaaaaa;
    }
    
    #internet-mobile-carousel-1:checked ~ .internet-mobile-control-1,
    #internet-mobile-carousel-2:checked ~ .internet-mobile-control-2,
    #internet-mobile-carousel-3:checked ~ .internet-mobile-control-3,
    #internet-mobile-carousel-4:checked ~ .internet-mobile-control-4,
    #internet-mobile-carousel-5:checked ~ .internet-mobile-control-5 {
      display: block;
    }
    
    .internet-mobile-carousel-indicators {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 2%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 10;
    }
    
    .internet-mobile-carousel-indicators li {
      display: inline-block;
      margin: 0 5px;
    }
    
    .internet-mobile-carousel-bullet {
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 35px;
    }
    

    /*Seccion Boton  */
    .seccion_boton {
      display: none;
    }
  
    .seccion1 {
      width: 100%;
      height: auto;
      position: absolute;
      top: 140%;
    }
  
    #subtitulo {
      text-align: center;
      position: relative;
      font-size: 150%;
    }
  
    #letras {
      text-align: center;
      position: relative;
      font-size: 100%;
    }
  
    .container_internet {
      display: none;
    }
  
    .container_telefonia {
      display: none;
    }
  
    #mi-animacion {
      display: none;
    }
  
    #mi-animacion2 {
      display: none;
    }
  
    .contenedor {
      display: none;
    }

    .seccion1{
      display: none;
    }

    .container-letras-movil{
      display: block;
      width: 100%;
      height: auto;
    }

    .container-letras-movil h2{
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
      text-align: center;
    
    }
    .container-letras-movil p{
      color: white;
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .contenedor-asistencia-movil{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-bottom: 10%;
    }

    .contenedor-asistencia-movil .numeros-asistencia{
      width: 100%;
      height: auto;
    }

    .contenedor-asistencia-movil .numeros-asistencia h2{
      color: white;
      text-align: center;
    }

    .contenedor-asistencia-movil .numeros-asistencia a{
      text-decoration: none;
    }

    .contenedor-asistencia-movil .numeros-asistencia button{
      background-color: rgb(155, 30, 228);
      height: 40px;
      width: 50%;
      color: white;
      font-size: 100%;
      font-weight: 700;
      border: 0;
      border-radius: 20px;
    }

    .contenedor-asistencia-movil .numeros-asistencia p{
      color: white;
    }
  }
  
  
  @media (min-width: 1920px) and (max-width: 3840px){
    #mi-animacion{
      width: 600px;
      position: absolute;
      top: 120%;
      margin-left: 4%;
    }

    #mi-animacion2{
      width: 600px;
      height: auto;
      position: relative;
      top: 35%;
      left: 59%;
    }

}
  