@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

.contenido-practicas-comerciales {
    width: 80%;
    height: 2200px;
    margin: 0 auto;
    position: relative;
    top: 5%;
}

.contenido-practicas-comerciales h1 {
    color: white;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    width: 80%;
    position: relative;
    bottom: 0.3%;
    right: 10%;
}

.contenido-practicas-comerciales h2 {
    color: rgb(231, 92, 12);
    font-family: "Aldrich", sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-size: 170%;
}

.contenido-practicas-comerciales h3 {
    color: rgb(210, 27, 216);
    font-family: "Aldrich", sans-serif;
    font-size: 150%;
    text-transform: capitalize;
}

.contenido-practicas-comerciales p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    line-height: 1.1;
    text-align: justify;
}

.contenido-practicas-comerciales ul {
    color: white;
    border-radius: 10px;
}

.contenido-practicas-comerciales ul li {
    color: white;
    font-size: 120%;
    line-height: 1.1;
    margin-bottom: 1px;
    text-align: justify;
    padding: 10px;
    font-style: italic;
}

.contenido-practicas-comerciales ul li strong {
    color: rgb(255, 255, 255);
    font-size: 100%;
    line-height: 1.1;
    margin-bottom: 5px;
    text-align: justify;
    text-transform: uppercase;
    font-style: normal;
    padding: 10px;
}

.tabla-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* 9 columnas, cada una con el mismo ancho */
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(106, 52, 139);
    box-shadow: -10px -10px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.tabla-grid div {
    padding: 8px;
    text-align: center;
}

.tabla-grid .titulo {
    font-weight: bold;
    background-color: rgb(231, 92, 12);
    color: white;
    font-family: "Aldrich", sans-serif;
    font-size: 100%;
}

.tabla-grid .valor {
    color: white;
    font-size: 100%;
    font-family: sans-serif;
}

.tabla-grid .fila {
    display: contents; /* Hace que los elementos dentro de .fila se dispongan horizontalmente */
}

.tabla-grid .fila:nth-child(odd) .valor {
    background-color: #f9f9f9; /* Opcional, para diferenciar filas */
}

/* Estilo para la tabla */
.tabla-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columnas de igual tamaño */
    max-width: 900px;  /* Ancho máximo de la tabla */
    margin: 30px auto;  /* Centra la tabla en la página con margen */
    padding: 20px;  /* Espacio interno */
    box-shadow: -10px -10px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;  /* Bordes redondeados */
    background-color: rgb(106, 52, 139);
}

/* Estilo para los encabezados de la tabla */
.tabla-info .encabezado {
    font-weight: bold;
    font-size: 100%;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    background-color: rgb(231, 92, 12);
    color: white;  /* Color de texto blanco */
    padding: 10px;  /* Espacio dentro de cada celda */
}

/* Estilo para los datos de la tabla */
.tabla-info .dato {
    text-align: center;
    color: white;
    font-size: 100%;
    padding: 10px;  /* Espacio dentro de cada celda */
    font-family: sans-serif;
}

/* Estilo para la fila de datos */
.tabla-info .datos {
    display: contents;  /* Los elementos hijos se alinearán según las columnas de la tabla */
}

/* Estilo para la tabla */
.tabla-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 columnas de igual tamaño */
    max-width: 600px;  /* Ancho máximo de la tabla */
    margin: 30px auto;  /* Centra la tabla en la página con margen */
    padding: 20px;  /* Espacio interno */
    box-shadow: -10px -10px 10px 0px rgba(0, 0, 0, 0.3);  /* Sombra de la tabla */
    border-radius: 8px;  /* Bordes redondeados */
    background-color: rgb(106, 52, 139);  /* Fondo púrpura */
}

/* Estilo para los encabezados de la tabla (arriba) */
.tabla-contenedor .tabla-campo {
    font-weight: bold;
    font-size: 100%;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    background-color: rgb(231, 92, 12);  /* Fondo naranja */
    color: white;  /* Color de texto blanco */
    padding: 10px;  /* Espacio dentro de cada celda */
}

/* Estilo para los datos de la tabla (debajo) */
.tabla-contenedor .tabla-dato {
    text-align: center;
    color: white;
    font-size: 130%;
    padding: 10px;  /* Espacio dentro de cada celda */
    font-family: sans-serif;
}

/* Estilo para la tabla */
.tabla-contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 columnas de igual tamaño */
    max-width: 600px;  /* Ancho máximo de la tabla */
    margin: 30px auto;  /* Centra la tabla en la página con margen */
    padding: 20px;  /* Espacio interno */
    box-shadow: -10px -10px 10px 0px rgba(0, 0, 0, 0.3);  /* Sombra de la tabla */
    border-radius: 8px;  /* Bordes redondeados */
    background-color: rgb(106, 52, 139);  /* Fondo púrpura */
}

/* Estilo para los encabezados de la tabla (arriba) */
.tabla-contenido .campo-titulo {
    font-weight: bold;
    font-size: 100%;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    background-color: rgb(231, 92, 12);  /* Fondo naranja */
    color: white;  /* Color de texto blanco */
    padding: 10px;  /* Espacio dentro de cada celda */
}

/* Estilo para los datos de la tabla (debajo) */
.tabla-contenido .dato-valor {
    text-align: center;
    color: white;
    font-size: 100%;
    padding: 10px;  /* Espacio dentro de cada celda */
    font-family: sans-serif;
}

/* Estilo para la lista */
.tabla-lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 columnas de igual tamaño */
    max-width: 600px;  /* Ancho máximo de la tabla */
    margin: 30px auto;  /* Centra la tabla en la página con margen */
    padding: 20px;  /* Espacio interno */
    box-shadow: -10px -10px 10px 0px rgba(0, 0, 0, 0.3);  /* Sombra de la tabla */
    border-radius: 8px;  /* Bordes redondeados */
    background-color: rgb(106, 52, 139);  /* Fondo púrpura */
    list-style-type: none;  /* Eliminar los puntos por defecto de la lista */
    grid-template-rows: auto; /* Ajusta el contenido a una fila */
    grid-auto-flow: column; /* Cambiar la disposición para que sea en una fila horizontal */
}

/* Estilo para los encabezados de la lista (arriba) */
.tabla-lista .item-titulo {
    font-weight: bold;
    font-size: 100%;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    background-color: rgb(231, 92, 12);  /* Fondo naranja */
    color: white;  /* Color de texto blanco */
    padding: 10px;  /* Espacio dentro de cada celda */
}

/* Estilo para los elementos de la lista */
.tabla-lista .item-dato {
    color: white;
    font-size: 100%;
    padding: 10px;  /* Espacio dentro de cada celda */
    font-family: sans-serif;
}

.info-terminos p{
    font-size: 130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    color: white;
}

@media (max-width: 600px){
    .contenido-practicas-comerciales{
        position: relative;
        margin-top: 15%;
        width: 100%;
        height: auto;
    }

    
.contenido-practicas-comerciales h1 {
    color: white;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0.3%;
    right: 0;
    font-size: 120%;
}
.contenido-practicas-comerciales h2 {
    color: rgb(231, 92, 12);
    font-family: "Aldrich", sans-serif;
    text-align: left;
    padding-left: 5%;
    text-transform: uppercase;
    font-size: 100%;
}

.contenido-practicas-comerciales h3 {
    color: rgb(210, 27, 216);
    font-family: "Aldrich", sans-serif;
    font-size: 100%;
    text-transform: capitalize;
}

.contenido-practicas-comerciales p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.1;
    text-align: justify;
}


.contenido-practicas-comerciales ul {
    color: white;
    border-radius: 0;
}

.contenido-practicas-comerciales ul li {
    color: white;
    font-size: 80%;
    line-height: 1.1;
    margin-bottom: 1px;
    text-align: justify;
    padding: 10px;
    font-style: italic;
}

.contenido-practicas-comerciales ul li strong {
    color: rgb(255, 255, 255);
    font-size: 100%;
    line-height: 1.1;
    margin-bottom: 5px;
    text-align: justify;
    text-transform: uppercase;
    font-style: normal;
    padding: 10px;
}


}